<% @bookings.each do |booking| %>
  <p>Booking ID: <%= booking.room.hotel.name %></p>
  <p>Booking Date: <%= booking.ends_at %></p>
  <p>Booking Date: <%= booking.starts_at %></p>
  <p>Nombre de jour avant: <%= @date %></p>
  <% if @date != 0 %>
 <%= link_to "Supprimer",  hotel_room_booking_path(booking.room.hotel, booking.room, booking), data: { turbo_method: :delete } , method: :delete %>
<% end %>
<%end%>
