<div class="formatroom">
  <div class="Hero-hotel-room">
  <% if @search_params && @search_params[:start_date].present? && @search_params[:end_date].present? %>
  <% start_date = Date.strptime(@search_params[:start_date], '%d-%m-%Y') %>
  <% end_date = Date.strptime(@search_params[:end_date], '%d-%m-%Y') %>
  <% number_of_days = (end_date - start_date).to_i %>
  <% total_price = number_of_days * @room.price_per_night %>

  <div class="room-details">
    <div class="photohotelroom">
      <%= cl_image_tag @room.image.key, class:"roomimg" %>
    </div>

    <div class="reservation-summary">
      <p class="intro-text">Veuillez vérifier les informations ci-dessous avant de procéder à la réservation.</p>
      <h2>Récapitulatif de votre réservation</h2>
      <ul>
        <li><strong>Ville :</strong> <span class="variable"><%= @search_params[:city] %></span></li>
        <li><strong>Nombre de personnes :</strong> <span class="variable"><%= @search_params[:capacity] %></span></li>
        <li><strong>Date de début :</strong> <span class="variable"><%= @search_params[:start_date] %></span></li>
        <li><strong>Date de fin :</strong> <span class="variable"> <%= @search_params[:end_date] %></span></li>
        <li><strong>Nombre de jours :</strong> <span class="variable"><%= number_of_days %></span></li>
        <li><strong>Prix total :</strong> <span class="variable"><%= total_price %> €</span></li>
      </ul>
      <div class="footi">
        <div class="reservation-section">
        <%= simple_form_for Booking.new, url: hotel_room_bookings_path(@room.hotel, @room), method: :post, data: { controller: "booking", booking_target: "form", turbo_frame: "_top", action: "submit->booking#submit" } do |f| %>
      <%= f.input :room_id, as: :hidden, input_html: { value: @room.id } %>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
      <%= f.input :starts_at, as: :hidden, input_html: { value: @search_params[:start_date] } %>
      <%= f.input :ends_at, as: :hidden, input_html: { value: @search_params[:end_date] } %>
      <%= f.button :submit, "Réserver", class: "btn btn-primary" %>
    <% end %>
      </div>
      </div>
      <p class="footer-text">Si vous avez des questions ou des demandes spéciales, n'hésitez pas à nous contacter.</p>
    </div>
  </div>
  <% end %>
  </div>
</div>
