<%= link_to "back", root_path %>
<div class="container", style="position: relative;
    bottom: 34px;">
<%= render 'pages/search' %>
</div>


<div class="grid-container">
  <% @hotels.each do |hotel| %>
    <div class="card">
      <div class="card-img">
          <%= cl_image_tag hotel.image.key,

            class: "card-img" if hotel.image.present? %>
      </div>
      <div class="card-title"><%=hotel.city%>, <%= hotel.name %></div>
      <div class="card-subtitle"><%= hotel.address %></div>

      <div class="card-footer">
        <% hotel.rooms.each do |room| %>
          <%= link_to hotel_room_path(room.hotel, room, search: @search_params), class: "card-btn" do %>
            <div class="card-price"><%= room.price_per_night %><span>€/par nuit</span> </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
