<%= link_to "back", root_path %>
<%= render 'pages/search' %>

<div class="grid-container">
  <% @hotels.each do |hotel| %>
    <div class="card">
      <div class="card-img">
          <%= image_tag hotel.image, class: "card-img" if hotel.image.present? %>
        <!-- Vous pouvez ajouter une image ici -->
      </div>
      <div class="card-title"><%= hotel.name %></div>
      <div class="card-subtitle"><%= hotel.address %></div>

      <div class="card-footer">
        <% hotel.rooms.each do |room| %>
          <%= link_to hotel_room_path(room.hotel, room, search: @search_params), class: "card-btn" do %>
            <div class="card-price"><span>$</span> <%= room.price_per_night %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
